# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments (Pipenv creates one outside your project, but just in case)
venv/
.env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

#EEG csv readings
*.csv
