[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio-client = "*"
muselsl = "*"
python-dotenv = "*"
django = "*"
channels = "*"
daphne = "*"
websockets = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.10"
